@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron mt-4">
    <h1 class="display-4">Seja bem vindo!!!</h1>
    <p class="lead">Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Interagi no mé, cursus quis, vehicula ac nisi..</p>
    <hr class="my-4">
    <p>Mussum Ipsum, cacilds vidis litro abertis. Delegadis gente finis, bibendum egestas augue arcu ut est.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Livros"  asp-action="Index"   role="button">Saber Mais</a>
</div>